{% block body %}
	<p>Bienvenue {{prenom}},
	Vous recevez cet email car vous êtes abonné à la newsletter {{news.nomNews|capitalize}}</p>
	<p>Ce n’est pas du SPAM :)</p>
    <p>{{content_news}}</p>

	<p>
	<a href="http://localhost:8000/unsubscribe/{{mail}}/{{news.id}}">Cliquez ici</a> pour vous désinscrire / <a href="">Cliquez ici</a> pour modifier vos abonnements (ne fonctionne pas actuellement)
	</p>
{% endblock %}
