{% extends 'base.html.twig' %}

{% block title %}Nos newsletters
{% endblock %}

{% block body %}
	<div class="d-flex flex-row">
		{% for news in newsletters %}
			{# Carte pour une newsletter #}
			<div class="card m-2" style="width: 18rem;">
				<img class="card-img-top" src="https://via.placeholder.com/1800x1000.jpg">
				<div class="card-body">
					<h5 class="card-title">{{news.getNomNews|capitalize}}</h5>
					<p class="card-text">{{news.getDescNews|capitalize}}</p>
					<a href="/newsletters/{{news.getNomNews|lower}}" class="btn btn-primary">S'inscrire</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
