{% extends 'base.html.twig' %}

{% block title %}Vous êtes déjà inscrit à {{nom_news|capitalize}}!{% endblock %}

{% block body %}
    <div>Vous êtes déjà inscrit à la newsletter {{nom_news|capitalize}}</div>
{% endblock %}