{% extends 'base.html.twig' %}

{% block title %}Vous êtes inscrit à {{nom_news|capitalize}}!{% endblock %}

{% block body %}
    <div>Félictions, vous vous êtes bien abonné à la newsletter {{nom_news|capitalize}}</div>
{% endblock %}